@model IEnumerable<Airlines.Service.Dto.FlightDto>

<div class="main-header">
    <a asp-controller="Home" asp-action="Index" class="arrow-back">
        <img src="./assets/left sidebar.png" alt="arrow-back" />
    </a>
    <h2>Flights</h2>
</div>
<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>Flight Number</th>
                <th>From</th>
                <th>To</th>
                <th>Departure</th>
                <th>Arrival</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Number)</td>
                    <td>@Html.DisplayFor(modelItem => item.DeparturAirportId)</td>
                    <td>@Html.DisplayFor(modelItem => item.ArrivalAirportId)</td>
                    <td>@Html.DisplayFor(modelItem => item.DepartureDateTime)</td>
                    <td>@Html.DisplayFor(modelItem => item.ArrivalDateTime)</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="form-wrapper">
    <button class="show-form-button">Show Form</button>
    <form asp-controller="Flights" asp-action="AddFlight" method="post">
        <fieldset>
            <legend>Add New Flight</legend>
            <label asp-for="First().Number">Number:</label>
            <input asp-for="First().Number" class="form-control">

            <label asp-for="First().DeparturAirportId">From:</label>
            <input asp-for="First().DeparturAirportId" class="form-control">

            <label asp-for="First().ArrivalAirportId">To:</label>
            <input asp-for="First().ArrivalAirportId" class="form-control">

            <label asp-for="First().DepartureDateTime">Departure Time:</label>
            <input asp-for="First().DepartureDateTime" class="form-control" type="datetime-local">

            <label asp-for="First().ArrivalDateTime">Arrival Time:</label>
            <input asp-for="First().ArrivalDateTime" class="form-control" type="datetime-local">

            <input type="submit" value="Submit" class="submit-form-button">
        </fieldset>
    </form>
</div>