@model Airlines.Web.Models.FlightsViewModel

<div class="main-header">
    <a asp-controller="Home" asp-action="Index" class="arrow-back">
        <img src="./assets/left sidebar.png" alt="arrow-back" />
    </a>
    <h2>Flights</h2>
</div>
<div class="search-container" id="search-container-flights">
    <form class="filter-form" asp-controller="Flights" asp-action="Index" method="get">
        <select name="timePeriod">
            <option value="">Select time period</option>
            <option value="day">Flights in one day</option>
            <option value="week">Flights in one week</option>
            <option value="month">Flights in one month</option>
        </select>
        <button class="search-form-button">Filter</button>
    </form>
    <form class="search-form" asp-controller="Flights" asp-action="Index" method="get">
        <input type="text" placeholder="search" name="searchTerm" />
        <select name="filter">
            <option value="Number">Number</option>
            <option value="DepartureAirport">From</option>
            <option value="ArrivalAirport">To</option>
            <option value="DepartureDateTime">Departure</option>
            <option value="ArrivalDateTime">Arrival</option>
        </select>
        <button class="search-form-button">Search</button>
    </form>
</div>
<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>Flight Number</th>
                <th>From</th>
                <th>To</th>
                <th>Departure</th>
                <th>Arrival</th>
            </tr>
        </thead>
        <tbody>
            @if(Model.Flights.Any())
            {
                @foreach (var item in Model.Flights)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Number)</td>
                        <td>@(item.DepartureAirport != null ? Html.DisplayFor(modelItem => item.DepartureAirport.Name) : "")</td>
                        <td>@(item.ArrivalAirport != null ? Html.DisplayFor(modelItem => item.ArrivalAirport.Name) : "")</td>
                        <td>@Html.DisplayFor(modelItem => item.DepartureDateTime)</td>
                        <td>@Html.DisplayFor(modelItem => item.ArrivalDateTime)</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="4">No data available</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="form-wrapper">
    <button class="show-form-button">Show Form</button>
    <form asp-controller="Flights" asp-action="AddFlight" method="post">
        @if (Model.Flights.Any())
        {
            <fieldset>
                <legend>Add New Flight</legend>
                <label asp-for="Flights.Last().Number">Number:</label>
                <input asp-for="Flights.Last().Number" class="form-control">
                <span asp-validation-for="Flights.Last().Number" class="text-danger"></span>

                <label asp-for="Flights.Last().DepartureAirportId">From:</label>
                <select asp-for="Flights.Last().DepartureAirportId" asp-items="@(new SelectList(Model.Airports, "AirportId", "Name"))" class="form-control">
                    <option value="">Select Departure Airport</option>
                </select>
                <span asp-validation-for="Flights.Last().DepartureAirportId" class="text-danger"></span>

                <label asp-for="Flights.Last().ArrivalAirportId">To:</label>
                <select asp-for="Flights.Last().ArrivalAirportId" asp-items="@(new SelectList(Model.Airports, "AirportId", "Name"))" class="form-control">
                    <option value="">Select Arrival Airport</option>
                </select>
                <span asp-validation-for="Flights.Last().ArrivalAirportId" class="text-danger"></span>

                <label asp-for="Flights.Last().DepartureDateTime">Departure Time:</label>
                <input asp-for="Flights.Last().DepartureDateTime" class="form-control" type="datetime-local">
                <span asp-validation-for="Flights.Last().DepartureDateTime" class="text-danger"></span>

                <label asp-for="Flights.Last().ArrivalDateTime">Arrival Time:</label>
                <input asp-for="Flights.Last().ArrivalDateTime" class="form-control" type="datetime-local">
                <span asp-validation-for="Flights.Last().ArrivalDateTime" class="text-danger"></span>

                <input type="submit" value="Submit" class="submit-form-button">
            </fieldset>
        }
        else
        {
            <fieldset>
                <legend>Add New Flight</legend>
                <label for="Number">Number:</label>
                <input name="Number" class="form-control">
                <span asp-validation-for="Flights.Last().Number" class="text-danger"></span>

                <label for="DepartureAirportId">From:</label>
                <select name="DepartureAirportId" class="form-control">
                    <option value="">Select Departure Airport</option>
                    @foreach (var airport in Model.Airports)
                    {
                        <option value="@airport.AirportId">@airport.Name</option>
                    }
                </select>
                <span asp-validation-for="Flights.Last().DepartureAirportId" class="text-danger"></span>

                <label for="ArrivalAirportId">To:</label>
                <select name="ArrivalAirportId" class="form-control">
                    <option value="">Select Arrival Airport</option>
                    @foreach (var airport in Model.Airports)
                    {
                        <option value="@airport.AirportId">@airport.Name</option>
                    }
                </select>
                <span asp-validation-for="Flights.Last().ArrivalAirportId" class="text-danger"></span>

                <label for="DepartureDateTime">Departure Time:</label>
                <input name="DepartureDateTime" class="form-control" type="datetime-local">
                <span asp-validation-for="Flights.Last().DepartureDateTime" class="text-danger"></span>

                <label for="ArrivalDateTime">Arrival Time:</label>
                <input name="ArrivalDateTime" class="form-control" type="datetime-local">
                <span asp-validation-for="Flights.Last().ArrivalDateTime" class="text-danger"></span>

                <input type="submit" value="Submit" class="submit-form-button">
            </fieldset>
        }
    </form>
</div>